<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ms.coco"/>

    <context:property-placeholder location="classpath:cocoServerConf.properties"/>

    <bean id="serviceRegistry" class="com.ms.coco.registry.zookeeper.ZooKeeperServiceRegistry">
        <constructor-arg name="zkAddress" value="${coco.rpc.server.registry_address}"/>
    </bean>

    <bean id="cocoServer" class="com.ms.coco.server.CocoServer">
        <constructor-arg name="rpcPort" value="${coco.rpc.server.port}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
        <property name="restfulServer" ref="cocoRestServer"/>
        <!-- <property name="localIp" value="${coco.rpc.server.ip}"/> -->
    </bean>
    
    <bean id="cocoRestServer" class="com.ms.coco.rest.server.CocoRestServer">
    	<property name="rootResourcePath" value ="${coco.restful.server.rootPath}"/>
    	<property name="port" value ="${coco.restful.server.port}"/>
    </bean>
    
</beans>