<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ms.coco.sample.server"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceRegistry" class="com.ms.coco.registry.zookeeper.ZooKeeperServiceRegistry">
        <constructor-arg name="zkAddress" value="${rpc.registry_address}"/>
    </bean>

    <bean id="rpcServer" class="com.ms.coco.server.CocoServer">
        <constructor-arg name="serviceAddress" value="${rpc.service_address}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
        <property name="threadPoolInfo" ref="threadPoolInfo"/>
        <property name="useRestFul" value ="true"/>
        <property name="useRpc" value ="false"/>
        <property name="restfulServer" ref="cocoRestServer"/>
    </bean>
    <bean id="threadPoolInfo" class="com.ms.coco.common.ThreadPoolInfo" >
    	<property name ="poolmaxSize" value="${poolmaxSize}"/>
    	<property name ="poolThreadAliveTimeInsecond" value="${poolThreadAliveTimeInsecond}"/>
    </bean>
    <bean id="cocoRestServer" class="com.ms.coco.CocoRestServer">
    	<property name="cocoConf" ref="cocoConf"/>
    	<property name="cocoRoute" ref="cocoRoute"/>
    	<property name="messageObserver" ref="messageObserver"/>
    	<property name="postprocessor" ref="postprocessor"/>
    	<property name="port" value ="8013"/>
    </bean>
    <bean id="cocoConf" class ="com.ms.coco.conf.DefaultCocoConf.DefaultCocoConf"/>
    <bean id="cocoRoute" class ="com.ms.coco.echo.DemoCocoRoute.DemoCocoRoute"/>
    <bean id="messageObserver" class ="com.ms.coco.common.CocoMessageObserver.CocoMessageObserver"/>
    <bean id="postprocessor" class ="com.ms.coco.common.LastModifiedHeaderPostprocessor.LastModifiedHeaderPostprocessor"/>
    
</beans>